<div class="container">
	<div class="card shadow p-3">
	<p id="notice"><%= notice %></p>
		<p>
		  <strong>Name:</strong>
		  <%= @article.name %>
		</p>

		<p>
		  <strong>Body:</strong>
		  <%= @article.body %>
		</p>
		<%= image_tag url_for(@article.image), class: "width" %> 
		<%= link_to @article.image.filename, rails_blob_path(@article.image, disposition: "attachment") %><br>
		<strong>Add Comment</strong>
		<%= form_with model: [@article, @comment] do |f| %>
		<%= f.text_field :commenter %>
		<%= f.text_field :body %>
		<%= f.submit "comment" %>
		<%end%>
		<strong>Comments-</strong><br>
		<% @comments.each do |comment| %>
		<div class="card shadow col-md-4 p-3 m-3">
			<%= time_ago_in_words(comment.created_at) %><br><%= comment.user.username %><br><%= comment.body %><br>

			  <%= link_to 'Destroy Comment', [comment.article, comment],
			              method: :delete,
			              data: { confirm: "Are you sure?" } %>
			<br>
		</div>

		<% end%>
		<%= link_to 'Edit', edit_article_path(@article) %> 
		<%= link_to 'Back', articles_path %>
	</div>
</div>
 